.pokemoninput {
    width: 300px;
    background-color: white;
    
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 10px;
    box-sizing: border-box;
}
.addform {
    background-color: white;
    padding: 10px;
    margin: 10px;
}