.tradepage{
    background-color: blue;
    float: left;
}
.users {
    position: left;
    background-color: white;
    margin: 20px;
    
    padding: 4px;
    float: left;
    
    width: 100%;
    
}
.trades {
    background-color: white;
    margin: 20px;
    padding: 4px;
    text-align: center;

    float: left;

}

