.tradeItem {
    background-color: white;
    margin: 20px;
    padding: 4px;
    text-align: center;
    width: 10.5em;
    height: 20.2em;
    float: left;
  }


.Torkoal{
    background-color: green;
}
.Relicanth {
    background-color: blue;
}
